<!DOCTYPE html>
<html>
<head>
    {include file="common/header" /}

</head>
<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .dBody {
        width:100%;
        overflow:auto;
        top:90px;
        position:absolute;
        z-index:10;
        bottom:5px;
    }
</style>
<body>
<div style="height: 100%">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="">
            <a class="layui-btn layui-btn-info layui-btn-m"  onclick="reload()">刷新</a>
            <!--<a class="layui-btn layui-btn-error layui-btn-m"  onclick="getCheckData();">获取选中行数据</a>-->
            <!--<a class="layui-btn layui-btn-danger layui-btn-m"  onclick="getCheckLength();">获取选中数目</a>-->
        </div>
    </blockquote>
    <div class="dBody">
        <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
    </div>
</div>

{include file="common/footer" /}

<script>
    var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
    layui.config({
        base : "/static/js/"
    }).extend({
        "treeGrid" : "treeGrid"
    });
    layui.use(['jquery','treeGrid','layer'], function(){
        var $=layui.jquery;
        treeGrid = layui.treeGrid;//很重要
        layer=layui.layer;
        ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,idField:'id'
            ,url:'/admin/user/permList'
            ,method:'get'
            ,cellMinWidth: 100
            ,treeId:'id'//树形id字段名称
            ,treeUpId:'pid'//树形父id字段名称
            ,treeShowName:'name'//以树形式显示的字段
            ,cols: [[
                {type:'checkbox',sort:true},
                {field:'id',width:100, title: '权限id'}
                ,{field:'name', edit:'text',width:350, title: '权限名称'}
//                ,{field:'pid', title: '上级id', width:50 , hide:true}
                ,{width:"30%",title: '操作', align:'center'/*toolbar: '#barDemo'*/
                    ,templet: function(d){
                        var html='';
                        var addBtn='<a class="layui-btn layui-btn-info layui-btn-sm" lay-event="add_sub">添加子权限</a>';
                        var editBtn='<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>';
                        var delBtn='<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>';
                        return addBtn + editBtn + delBtn;
                    }
                }
            ]]
            ,page:false
        });

        treeGrid.on('tool('+tableId+')',function (obj) {
            if(obj.event === 'del') {
                //a = 1;
                del(obj);
            }else if(obj.event ==="add_sub"){
                console.log(obj)
                add_sub(obj);
            }else if(obj.event ==="edit"){
                id = obj.data.id;
                layer.open({
                    type: 2
                    ,title: '编辑权限'
                    ,content: 'editperm?perm_id='+id
                    ,area: ['400px', '500px']
                });
            }
        });

        function del(obj) {
            layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除，此操作不能撤销！", {icon: 3, title:'提示'},
                    function(index){
                        del_perm(obj.data.id, index, tableId);
                        layer.close(index);
                    },function (index) {
                        layer.close(index);
                    }
            );
        }

        function del_perm(perm_id, index, tableId){
            var _that = this;
            _that.index = index;
            $.ajax("/admin/user/delPerm?perm_id="+perm_id, function(){
                console.log(tableId);
                treeGrid.reload(tableId,{
                    page:{
                        curr:1
                    }
                });
                layer.close(_that.index);
            });

        }

        var i = Math.ceil(Math.random()*100);
        //添加
        function add_sub(pObj) {
            var pdata=pObj?pObj.data:null;
            var param={};
            var newI = ++i;
            param.name=pdata.name+"_子_"+ String(newI);
            param.level = pdata.level + 1;
            param.pid=pdata?pdata.id:null;

            $.post("/admin/user/addPerm",{"perm":param}, function(data){
                console.log(data);
                param.id = data.perm_id;
                treeGrid.addRow(tableId,pdata?pdata[treeGrid.config.indexName]+1:0,param);
            });
        }
    });

    function openorclose() {
        var map=treeGrid.getDataMap(tableId);
        var o= map['102'];
        treeGrid.treeNodeOpen(tableId,o,!o[treeGrid.config.cols.isOpen]);
    }

    function getCheckData() {
        var checkStatus = treeGrid.checkStatus(tableId)
                ,data = checkStatus.data;
        layer.alert(JSON.stringify(data));
    }

    function getCheckLength() {
        var checkStatus = treeGrid.checkStatus(tableId)
                ,data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
    }

    function reload() {
        treeGrid.reload(tableId,{
            page:{
                curr:1
            }
        });
    }
    function query() {
        treeGrid.query(tableId,{
            where:{
                name:'sdfsdfsdf'
            }
        });
    }

    function test() {
        console.log(treeGrid.cache[tableId],treeGrid.getClass(tableId));
        /*var map=treeGrid.getDataMap(tableId);
         var o= map['102'];
         o.name="更新";
         treeGrid.updateRow(tableId,o);*/
    }
</script>

</body>
</html>