<!DOCTYPE html>
<html>
<head>
    {include file="common/header" /}

</head>
<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .dBody {
        width:100%;
        overflow:auto;
        top:90px;
        position:absolute;
        z-index:10;
        bottom:5px;
    }
</style>
<body>
<div style="height: 100%">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="">
            <p>编辑权限</p>
        </div>
    </blockquote>
    <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
    <div class="magt10 layui-right" style="margin-right: 20px;">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="saveRolePerm" onclick="getCheckData()">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="reload()">重置</button>
        </div>
    </div>
</div>

{include file="common/footer" /}

<script>
  var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
  layui.config({
    base : "/static/js/"
  }).extend({
    "treeGrid" : "treeGrid"
  });
  var role_id = "{$role_id}";
  layui.use(['jquery','treeGrid','layer'], function(){
    var $=layui.jquery;
    treeGrid = layui.treeGrid;//很重要
    layer=layui.layer;
    //treeGrid =  $.extend(treeGrid, {config: {checkName: 'checked'}});
    ptable=treeGrid.render({
      id:tableId
      ,elem: '#'+tableId
      ,idField:'id'
      ,url:'/admin/user/getRolePermList?role_id=' + role_id
      ,method:'get'
      ,cellMinWidth: 100
      ,height:"full-150"
      ,treeId:'id'//树形id字段名称
      ,treeUpId:'pid'//树形父id字段名称
      ,treeShowName:'name'//以树形式显示的字段
      ,cols: [[
        {type:'checkbox',sort:true},
        {field:'id',width:100, title: '权限id'}
        ,{field:'name', edit:'text',width:350, title: '权限名称'}
      ]]
      ,page:false
    });

    treeGrid.on('tool('+tableId+')',function (obj) {
      if(obj.event === 'del') {
        //a = 1;
        del(obj);
      }else if(obj.event ==="add_sub"){
        console.log(obj)
        add_sub(obj);
      }else if(obj.event ==="edit"){
        id = obj.data.id;
        layer.open({
          type: 2
          ,title: '编辑权限'
          ,content: 'editperm?perm_id='+id
          ,area: ['400px', '500px']
        });
      }
    });

    function del(obj) {
      layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除，此操作不能撤销！", {icon: 3, title:'提示'},
        function(index){
          del_perm(obj.data.id, index, tableId);
          layer.close(index);
        },function (index) {
          layer.close(index);
        }
      );
    }

    function del_perm(perm_id, index, tableId){
      var _that = this;
      _that.index = index;
      $.ajax("/admin/user/delPerm?perm_id="+perm_id, function(){
        console.log(tableId);
        treeGrid.reload(tableId,{
          page:{
            curr:1
          }
        });
        layer.close(_that.index);
      });

    }

    var i = Math.ceil(Math.random()*100);
    //添加
    function add_sub(pObj) {
      var pdata=pObj?pObj.data:null;
      var param={};
      var newI = ++i;
      param.name=pdata.name+"_子_"+ String(newI);
      param.level = pdata.level + 1;
      param.pid=pdata?pdata.id:null;

      $.post("/admin/user/addPerm",{"perm":param}, function(data){
        console.log(data);
        param.id = data.perm_id;
        treeGrid.addRow(tableId,pdata?pdata[treeGrid.config.indexName]+1:0,param);
      });
    }
  });

  function openorclose() {
    var map=treeGrid.getDataMap(tableId);
    var o= map['102'];
    treeGrid.treeNodeOpen(tableId,o,!o[treeGrid.config.cols.isOpen]);
  }

  function getCheckData() {
    var checkStatus = treeGrid.checkStatus(tableId)
      ,data = checkStatus.data;
    console.log(data)
    var perm_ids = [];
    data.forEach(function(e,i,array){
      //array：当前数组，i：当前索引，e：当前元素
      perm_ids.push(e.id)
    });
    var post_data = {
      role_id : role_id,
      perm_ids: JSON.stringify(perm_ids)
    };
    console.log(post_data);
    $.post("/admin/user/editRolePerm", post_data, function(data){
      console.log(tableId, data);
      reload();
    });

  }
  function reload() {
    treeGrid.reload(tableId,{
      page:{
        curr:1
      }
    });
  }
  function query() {
    treeGrid.query(tableId,{
      where:{
        name:'sdfsdfsdf'
      }
    });
  }

</script>

</body>
</html>