<!DOCTYPE html>
<html>
<head>
    {include file="common/header" /}
    <style>
        img.head_img{
            height: 25px;
            width:25px;
        }
    </style>
</head>
<body class="childrenBody">
<div class="layui-row">
    <form class="layui-form">
        <blockquote class="layui-elem-quote quoteBox">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容">
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal addNews_btn">添加用户</a>
            </div>
            <div class="layui-inline">
                <!--<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>-->
            </div>
        </blockquote>
    </form>
    <table id="user-list" lay-filter="user-list"></table>
    <div id="pagination"></div>
</div>
{include file="common/footer" /}
</body>

<script type="text/html" id="row_toolbar">
    <a class="layui-btn layui-btn-info layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    var main_url = WEB_ROOT;

    layui.use(['form','layer','table','laytpl','element'], function(){
        var element = layui.element;
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = top.layer!="undefined"?top.layer:layui.layer;

        //第一个实例
        table.render({
            elem: '#user-list'
            ,url: main_url + "/admin/user/getUserList" //数据接口
            ,method:"post"
            ,toolbar:false
            ,height:"full-50"
            ,page: true //开启分页
            ,limits:[ 10, 20, 50, 100]
            ,loading: true //开启加载进度
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:"6%", sort: true, fixed: 'left'}
                ,{field: 'uname', title: '帐户名', width: "10%"}
                ,{field: 'nickname', title: '呢称', templet:function(d){
                    $dhtml =  "<img src='" + d.head_img + "' class='head_img'/>"
                    $dhtml += "<span class='nickname'>" + d.nickname + "</span>"
                    return $dhtml;
                }}
                ,{field: 'is_delete', title: '状态', width: "8%", align:"center", templet:function(d){
                    if(d.is_delete == 0){
                        return "<a class='layui-btn layui-btn-xs layui-btn-green'>正常</a>"
                    }else if(d.is_delete == 1){
                        return "<a class='layui-btn layui-btn-info layui-btn-xs'>已删除</a>"
                    }else if(d.is_delete == 2){
                        return "<a class='layui-btn layui-btn-danger layui-btn-xs'>已禁用</a>"
                    }else{
                        return d.is_delete
                    }
                }}
                ,{field: 'role_name', title: '角色', width: "12%"}
                ,{field: 'last_login_time', title: '最近登陆时间', width: "20%"}
                ,{field: 'last_login_ip', title: '最近登陆ip', width: "12%"}
                ,{title: '操作', width: "15%", toolbar: '#row_toolbar', align:'center',fixed:'right' }
            ]]
        });
        table.on('tool(user-list)', function(obj){
            var data = obj.data;
            var layEvent = obj.event;
            //var tr = obj.tr;
            if(layEvent === 'edit'){ //编辑
                saveUser(data)
            }  else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    $.post("/admin/user/del",{id:obj.data.id},function(res){
                        if(res.status == 1){
                            table.reload('user-list')
                        }else{
                            top.layer.close(index);
                            top.layer.msg("用户删除成功！");
                            //table.reload('user-list')
                        }
                    });


                    layer.close(index);
                    //向服务端发送删除指令
                });
            }
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click",function(){
            $search_key = window.sessionStorage.getItem("admin_user_index_search_key");
            if($(".searchVal").val() != $search_key){
                table.reload("user-list",{
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        search_key: $(".searchVal").val()  //搜索的关键字
                    }
                })
            }
        });

        //添加用户
        function saveUser(edit){
            var is_edit = edit?1:0;

            var index = layui.layer.open({
                title : "添加用户",
                type : 2,
                maxmin:true,
                content : "saveUser?is_edit=" + is_edit,
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    if(edit){
                        body.find(".id").val(edit.id);  //登录名
                        body.find(".uname").val(edit.uname);  //登录名
                        body.find(".upass").val(edit.upass);  //邮箱
                        body.find(".nickname").val(edit.nickname);  //邮箱
                        body.find(".is_delete").val(edit.is_delete);    //用户状态
                        body.find(".role_id").val(edit.role_id);    //用户状态
                        body.find("#head_img").val(edit.head_img);    //用户头像
                        body.find("#head_img_preview").attr("src", edit.head_img);    //用户头像
                        form.render();
                    }
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            });
            //layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                var idx = window.sessionStorage.getItem("index");
                var body = layui.layer.getChildFrame('body', idx);
                if (body.html() != undefined){
                    //layui.layer.full(idx)
                }
            })
        }
        $(".addNews_btn").click(function(){
            saveUser();
        })

    });


</script>
</html>